@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

html,
body {
    margin: 1rem;
    padding: 1rem;
    @include flexbox();
}

body.light-mode {
    background-color: #effffa;
    transition: background-color 0.3s ease;
    color: #0b0111;

    .logo {
        fill: #0b0111;
        height: 5rem;
        width: 5rem;
    }
}

body.dark-mode {
    background-color: #0b0111;
    color: #effffa;

    .logo {
        fill: #effffa;
        height: 5rem;
        width: 5rem;
    }
}

.mode-icon {
    fill: gold;
    height: 3rem;
    width: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.social-icon {
    fill: #ff0dbf;
    height: 3rem;
    width: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}