@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

$white: #effffa;
$black: #0b0111;
$pink: #ff0dbf;
$gold: #ffd700;

html,
body {
    @include flexbox();
}

body.light-mode {
    background-color: $white;
    transition: background-color 0.3s ease;
    color: $black;

    a {
        color: $black;
    }
    
    .logo {
        fill: $black;
        height: 3rem;
        width: 3rem;
    }

    .menu-item {
        color: $black;
    }

    .footer-text {
        color: $white
    }
} 

body.dark-mode {
    background-color: $black;
    color: $white;

    a {
        color: $white;
    }
    
    .logo {
        fill: $white;
        height: 3rem;
        width: 3rem;
    }
    
    .menu-item {
        color: $black;
    }

    .footer-text {
        color: $white;
        padding: 1rem;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
    
    :hover {
        color: $pink;
    }

    :visited {
        color: $pink;
    }
}

.sticky-wrapper {
    position: relative;
}
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.logo-name {
    display: flex;
    align-content: flex-start;

    .mode-icons {
        justify-content: space-between;
    }

}

.mode-icon {
    fill: $gold;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.social-icon {
    fill: $pink;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.post-title:hover, .sub-title:hover {
    color: $pink;
}

.footer {
    height: 5rem;
    width: auto;
    background-color: $pink;
}

