@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

$white: #effffa;
$black: #0b0111;
$pink: #ff0dbf;
$gold: #ffd700;

html,
body {
    margin: 1rem;
    padding: 1rem;
    @include flexbox();
}

body.light-mode {
    background-color: $white;
    transition: background-color 0.3s ease;
    color: $black;

    a {
        color: $black;
    }
    
    .logo {
        fill: $black;
        height: 5rem;
        width: 5rem;
    }
}

body.dark-mode {
    background-color: $black;
    color: $white;

    a {
        color: $white
    }
    
    .logo {
        fill: $white;
        height: 5rem;
        width: 5rem;
    }
}

a {
    text-decoration: none;
    cursor: pointer;

    :hover {
        color: $pink;
    }
}

.ReactStickyHeader_root {
    width: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .ReactStickyHeader_root * {
    box-sizing: border-box;
  }
  .ReactStickyHeader_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 60;
  }
  .ReactStickyHeader_background,
  .ReactStickyHeader_foreground,
  .ReactStickyHeader_midground,
  .ReactStickyHeader_background-bg {
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 30;
  }
  .ReactStickyHeader_midground {
    position: fixed;
    z-index: 20;
    transform: translateY(-100%);
  }
  .ReactStickyHeader_background-bg {
    z-index: 10;
  }

.mode-icon {
    fill: $gold;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.social-icon {
    fill: $pink;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}